* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    background-color: #bbb;
    border: 1px solid #bbb;
}

#title {
    color: #fff;
}

#title a {
    color: #fff
}

#languageMenu {
    /*display: none;*/
    font-size: 12px;
}

#sampleOneTopBlock {
    height: 80px;
    width: 250px;
}

img[src$="help_up.png"] {
    margin: -20px 10px 0;
    height: 64px;
    width: 23px;
}

img[src$="help_down.png"] {
    margin: 0 10px -20px;
    height: 64px;
    width: 23px;
}

#begin-box {
    padding: 10px 20px 0 20px;
}

#begin-box p {
    margin: 0px;
    line-height: 20px;
}

#begin .farSide {
    text-align: center;
}

#begin .farSide button {
    padding: 10px 20px;
    margin: 15px 0 22px;
    letter-spacing: 2px;
}

#begin img {
    cursor: pointer;
    width: 70px;
    margin: 20px 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 10px 0 10px;
    background-color: #f5f5f5;
}

#begin #avatar-choose-box img.selected {
    background-color: #02e2f9;
}

#begin img:hover {
    background-color: #bdf6fb;
}

#avatar-choose-box {
    text-align: center;
}


/* Buttons */

button.primary {
    /* Can't use "text-align: start" due to IE. */
    text-align: center;
}

html[dir="RTL"] button.primary {
    text-align: right;
}






/* Sprited icons. */

.icon21 {
    height: 21px;
    width: 21px;
    background-image: url(img/icons.png);
}

.link {
    background-position: 0px 0px;
}

.header {
    padding: 0 25px;
    background-color: #00adbc;
    height: 50px;
    z-index: 10;
}

.header .leftSide {
    display: inline-block;
    width: calc(100vw - 400px);
    padding: 4px 0;
    text-align: center;
}

.header .leftSide a {
    text-decoration: none;
}

.header .levelWraper {
    display: inline-block;
    border: 1px solid rgb(198, 202, 205);
    border-radius: 5px;
    background-color: rgb(231, 232, 234);
    padding: 4px 10px 4px 0;
    margin-left: 15px;
}

.header .level_dot {
    border: solid 2px rgb(198, 202, 205);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: rgb(254, 254, 254);
}

.header .level_number {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 32px;
    border: solid 2px rgb(198, 202, 205);
    background-color: rgb(254, 254, 254);
    color: rgb(91, 103, 112);
    font-family: "Gotham 5r", sans-serif;
    font-weight: 900;
    letter-spacing: -0.5px;
}

.header .level_number span {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 17px;
}

.header .levelWraper .level_disable {
    pointer-events: none;
    cursor: default;
    background-color: rgb(198, 202, 205);
    color: #999;
}

.header .levelWraper .level_in_progress {
    border: solid 2px rgb(198, 202, 205);
    background-color: #ffefc3;
    color: rgb(91, 103, 112);
    font-family: "Gotham 5r", sans-serif;
    font-weight: 900;
}

.header .levelWraper .level_done {
    border: solid 2px rgb(198, 202, 205);
    background-color: rgb(178, 255, 255);
    color: rgb(91, 103, 112);
    font-family: "Gotham 5r", sans-serif;
    font-weight: 900;
}

.header .rightSide {
    display: inline-block;
    float: right;
}

.header .rightSide button {
    margin: 7px 0 0 10px;
}

pre#containerCode {
    max-height: 310px;
}

.clickable {
    cursor: pointer;
}

.black-text-with-shadow {
    text-shadow: 4px rgba(255, 255, 255, 0.75);
}

#debugamo-game-container {
    /*width: 100vw;*/
    /*height: 100vh;*/
    background-color: #f2f2f2;
}

#debugamo-left-container {
    width: 35vw;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: #f2f2f2;
    position: relative;
    display: inline-block;
}

#canvas-container {
    width: calc(35vw - 50px);
    height: calc(35vw - 50px);
    position: relative;
    left: 25px;
    top: 10px;
    z-index: 6;
}

#playground {
    /*width: 100%;*/
    /*height: 100%;*/
    border: 1px solid #DBDBDB;
}

#game-buttons {
    padding: 16px 26px;
    opacity: 0;   
}

#game-buttons button {
    font-size: 18px;
    padding: 10px 25px 10px 18px;
}

#runButton {
    background-color: #ffa400;
    border: 1px solid #ffa400;
}

#resetButton {
    display: none;
    background-color: #0094ca;
    border: 1px solid #0094ca;
}

#game-buttons #stepButton {
    padding: 10px 28px;
    float: right;
    background-color: #ffa400;
    border: 1px solid #ffa400;
}

#mission-goal-container {
    position: relative;
    padding: 25px 10px;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#player-avatar-box {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 28px;
}

#player-avatar {
    width: 45px;
}

#mission-goal-box {
    position: relative;
}

#goal-arrow {
    position: absolute;
    display: inline-block;
    left: 50px;
    top: 35px;
}

#goal-right-box {
    width: calc(35vw - 110px);
    height: calc(100vh - 35vw - 124px);
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    right: 15px;
    min-height: 100px;
    padding: 10px;
}

#debugamo-right-container {
    /* to calc */
    width: 65vw;
    height: calc(100vh - 50px);
    position: absolute;
    right: 0;
    display: inline-block;
    padding-right: 25px;
}

#mission-guide-container {
    height: 110px;
    padding-top: 10px;
}

#mission-guide-box {
    height: 100%;
    width: 100%;
    background-color: rgb(221, 221, 221);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    z-index: 6;
}

#mission-guide-button {
    position: absolute;
    right: 12px;
    top: 12px;
}

#mission-guide-button button {
    display: block;
    padding: 7px 6px 5px 0;
    width: 74px;
}

#mission-guide-button button i {
    margin-right: 2px;
}

#guidePreviousButton {
    position: absolute;
    right: 0;
    color: #666;
}

#guideNextButton {
    position: absolute;
    right: 0;
    top: 43px;
    background-color: #ffa400;
    border: 1px solid #ffa400;
    color: #fff;
}

#robot-guide-icon {
    display: inline-block;
    position: relative;
    top: 26px;
    left: 13px;
    vertical-align: top;
    max-width: 64px;
}

#guide-arrow {
    position: absolute;
    left: 84px;
    top: 47px;
}

#guide-inner-box {
    background-color: white;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 7px 14px;
    position: absolute;
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    display: inline-block;
    left: 107px;
    width: calc(65vw - 231px);
    height: 79px;
    overflow: hidden;
    line-height: 21px;
    overflow: scroll;
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;
}

#guide-inner-box p {
    margin: 0;
}

#inner-box p {
    margin: 0;
}

#codeModeHeaders {
    height: 30px;
    background-color: rgb(118, 101, 160);
    color: #fff;
}

#codeModeHeaders div {
    display: inline-block;
    font-size: 14px;
}

#toolbox-header {
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid gray;
}

.blocklyTreeRow {
    /*cursor: pointer;*/
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

#workspace-header {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#debugamo-code-editor-container {
    position: relative;
    height: calc(100vh - 200px);
    opacity: 0;

    transition-property: width height left top opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#debugamo-code-editor {
    position: relative;
    height: calc(100vh - 200px);
}

#blockly {
    position: relative;
    height: calc(100vh - 200px);
}

.blocklyMainBackground {
    stroke: none;
}

.show-hide-code-editor-button {
    background-color: white;
    color: #404040;
    border-radius: 8px 0 0 8px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

#debugamo-code-editor .blocklyFlyout,
#debugamo-code-editor .blocklyFlyoutScrollbar {
    z-index: 0;
}

button {
    padding: 7px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

#linkButton {
    display: none;
}

.hint-img {
    display: block;
    margin: 15px auto;
    border: 1px solid #eee;
}

.svg-clock-circle {
    stroke: #9C27B0;
    stroke-width: 1;
    fill: #E1BEE7;
}

.svg-clock-line {
    stroke: #9C27B0;
    stroke-width: 1;
    stroke-linecap: round;
}

.svg-scoring-board-text {
    alignment-baseline: middle;
    font-size: 7px;
}

.svg-text-normal {
    fill: #404040;
    font-family: Arial, Helvetica, sans-serif;
}

svg text .fa {
    font-family: FontAwesome;
}

.status-text {
    font-family: monospace;
    font-size: 3.5em;
}